body { 
    font-family: 'Times New Roman', Times, serif; 
    margin: 0;
    padding: 0;
    border: 1px solid black;
    max-width: 100%;
}

.sidebar {
    width: 230px;
    background-color: #333;
    color: white;
    padding: 20px;
    height: 270vh;
    display: block;
    position: fixed;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li {
    padding: 9px 0;
}
.sidebar ul li a {
    color: white;
    text-decoration: none;
}
.sidebar ul li a:hover {
    text-decoration: underline;
}

h2 { 
    text-align: center; 
    margin-bottom: -15px;
    font-family: "Playfair Display", "Libre Bodoni", "Didot", serif;
    font-size: 15px;
}

h1{
    font-size: 20px;
    margin-top: -10px;
    font-size: 1.5em;
}

p {
    font-size: 15px;
    font-family: "Lora", "Merriweather", "Palatino Linotype", "Book Antiqua", serif;
    font-style: italic;
}
.container { 
    width: 60%; 
    margin: auto; 
    padding: 20px; 
    border: 1px solid black;
}
input { 
    border: none; 
    border-bottom: 1px solid black; 
    width: 200px; 
    font-size: 16px; 
    display: inline-block;
    text-align: justify;
}
.wide-input { 
    width: 70%; 
}
@page {
    size: 8.5in 14in;
    margin-top: 5mm;
    margin-left: 25mm;
    margin-right: 25mm;
    margin-bottom: 20mm;
}
.pass {
    padding: 20px;
    margin-top: 20px;
    margin-left: -5mm;
    margin-right: 5mm;
}
.print-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.print-btn:hover {
    background-color: #0056b3;
}
@media print {
    .sidebar, .print-btn {
        display: none;
    }
    .print-btn {
        display: none;
    }
    .container {
        border: none;
        width: 100%;
    }
    body {
        border: none;
    }
    .pass{
        border: none;
        max-width: fit-content;
        margin-left: 7%;
        margin-right: 10%;
    }

}
.required{
    text-align: center;
}
.de{
    display: flex;
    justify-content: space-around;
}

table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 8px;
    text-align: center;
}